:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26; // малая сторона
  --side-big: 36; // длинная сторона (ширина)
  --depth: 4400px; // глубина (чем больше слайдов, тем больше должно быть значение). С каждым слайдом прибавлять примерно на 150px
  --transition: .75s cubic-bezier(.075, .5, 0, 1);
}